@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font: 16px "Open Sans", sans-serif;
}

* {
  position: relative;
  box-sizing: border-box;
}

.header {
  /* position: relative; */
  align-content: center;
  padding: .5rem 1rem .6rem;
  font: bold 2.25rem "Roboto Slab", serif;
  color: white;
  background: #2763e8;
  z-index: 10;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .4);
  border-bottom: 4px solid white;
}

.row {
  height: calc(100% - 4.36rem);
  display: flex;
}

.left-column {
  flex: 60%;
  padding: 1rem;
}

.right-column {
  flex: 40%;
  padding: 1rem;
}

#mapid {
  height: 100%;
}
