body {
    background: lightyellow;
    font: 18px Arial, sans-serif;
}

#mapid { height: 100%; }

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 100%;
}

.left-column {
  flex: 70%;
  padding: 10px;
}

.right-column {
  flex: 30%;
  padding: 10px;
}
